<h1>Homepage</h1>
<p>On this page users can either click the link to be taken to events or login if they are admins</p>

<a href="/events/list">View Events Page</a>
<br>
<a href="/users/login">Admin Login</a>