
<div class="container page-cap">
  <header class="header">
    Header Text
  </header>
</div>

<div class="container main">
  <div class="row expanded">
    <div class="large-1 columns day">
      <div class="nav-text">
        <
      </div>
    </div>
    <div class="large-2 columns day">
      <div class="weekday-text">
        Monday
      </div>
    </div>
    <div class="large-2 columns day">
      <div class="weekday-text">
        Tuesday
      </div>
    </div>
    <div class="large-2 columns day">
      <div class="weekday-text">
        Wednesday
      </div>
    </div>
    <div class="large-2 columns day">
      <div class="weekday-text">
        Thursday
      </div>
    </div>
    <div class="large-2 columns day">
      <div class="weekday-text">
        Friday
      </div>
    </div>
    <div class="large-2 columns day">
      <div class="weekday-text">
        Saturday
      </div>
    </div>
    <div class="large-2 columns day">
      <div class="weekday-text">
        Sunday
      </div>
    </div>
    <div class="large-1 columns day">
      <div class="nav-text">
        >
      </div>
    </div>
  </div>
</div>
<div class="container page-cap">
  <footer class="footer">
    Footer Text
  </footer>
</div>