<div class="container">
  <header class="header">
    <p>Header Text</p>
  </header>
</div>
<div class="container">
  <div class="row expanded week">
    <div class="large-1 columns day">
      <div class="nav-link">
        <p><</p>
      </div>
    </div>
    <div class="large-2 columns day">
      <div class="link-text">
        <p>Monday</p>
      </div>
    </div>
    <div class="large-2 columns day">
      <div class="link-text">
        <p>Tuesday</p>
      </div>
    </div>
    <div class="large-2 columns day">
      <div class="link-text">
        <p>Wednesday</p>
      </div>
    </div>
    <div class="large-2 columns day">
      <div class="link-text">
        <p>Thursday</p>
      </div>
    </div>
    <div class="large-2 columns day">
      <div class="link-text">
        <p>Friday</p>
      </div>
    </div>
    <div class="large-2 columns day">
      <div class="link-text">
        <p>Saturday</p>
      </div>
    </div>
    <div class="large-2 columns day">
      <div class="link-text">
        <p>Sunday</p>
      </div>
    </div>
    <div class="large-1 columns day">
      <div class="nav-link">
        <p>></p>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <footer class="footer">
    <p>Footer Text</p>
  </footer>
</div>