.page-cap{
  background-color: black;
  color: white;
  text-align: center
}

.subtext{
  color: gray;
  font-weight: normal;
}

.main{
  background-color: black;
  color: white;
  font-family: Arial;
}

.nav-text{
  position: absolute;
  width: 100%;
  text-align: center;
  top: 305px;

}

.section{
  height: 610px;
  position: relative;
}

.weekday-text{
  display: inline-block;
  transform: rotate(-90deg);
  color: white;
  font-size: 100px;
  font-weight: bold;
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: left;
}

.main-section_color_navigation{

}

.main-section_color_monday{
  background-color: #FF9800;
}

.main-section_color_tuesday{
  background-color: #E91E63;
}

.main-section_color_wednesday{
  background-color: #CDDC39;
}

.main-section_color_thursday{
  background-color: #03A9F4;
}

.main-section_color_friday{
  background-color: #FFC107;
}

.main-section_color_saturday{
  background-color: #9C27B0;
}

.main-section_color_sunday{
  background-color: #F44336;
}
