.page-cap{
  background-color: black;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center
}

.main{
  background-color: black;
  color: white;
  font-family: Arial;
}

.nav-text{
  position: absolute;
  width: 100%;
  text-align: center;
  top: 305px;

}

.day{
  height: 610px;
  position: relative;
}

.weekday-text{
  // transform: rotate(-90deg);
  color: white;
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
}