.header{
  background-color: green;

}
.week{

}

.day{
  background-color: pink;
  padding-top: 50px;
  padding-bottom: 50px;
  border:solid red 1px;
  height: 500px;

}

.link-text{
  transform: rotate(-90deg);
  color: green;
}

.container{
  border:solid red 1px;
}